<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" >
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <title>Login</title>
</head>
<body>
    <div id="wrapper">
        <form>
            <div class="d-label">
                Usuário
            </div>
            <div class="d-input">
                <input type="text" id="username">
            </div>
            <div class="d-label">
                Senha
            </div>
            <div class="d-input">
                <input type="password" id="password">
            </div>
            <div class="d-button">
                <button id="login">Login</button>
            </div>
        </form>
    </div>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>