<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" />
    <title>Login</title>
</head>
<body>
    <div id="wrapper">
        <form id="login">
            <div class="d-label">
                Usuário
            </div>
            <div class="d-input">
                <input type="text" id="user">
            </div>
            <div class="d-label">
                Senha
            </div>
            <div class="d-input">
                <input type="password" id="password">
            </div>
            <div class="d-button">
                <button>Login</button>
            </div>
        </form>
    </div>
</body>
</html>