<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/url-list.css') }}" />
    <title>List of Shorted URLs</title>
</head>
<body>
    <div id="grid">
        <div>
            <div id="top-bar" class="panel">
                <div>Encurtador</div>
                <div><button id="logout">Sair</button></div>
            </div>
            <div id="content" class="panel">
                list item<br>
                item 1<br>
                item 2<br>
            </div>
            <div id="page-number">
                page-number
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/url-list.js') }}"></script>
</body>
</html>
